.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.large {
  min-width: 276px;
}

.small {
  min-width: 156px;
}

.primary {
  background-color: var(--button);
  color: var(--white);
  transition: background-color 0.3s ease-in-out;
}

.primary:hover,
.primary:focus {
  background-color: var(--button-hover);
}

.secondary {
  border: 1px solid var(--button);
  background-color: var(--white);
  color: var(--main);
  transition: border 0.3s ease-in-out;
}

.secondary:hover,
.secondary:focus {
  border: 1px solid var(--button-hover);
}